<h1>Test:</h1>
<%= link_to 'Create question', new_test_question_path(@test) %>
<h2><%= @test.title %></h2>
<h1>Questions:</h1>
<table>
  <thead>
    <tr>
      <td>Текст вопроса</td>
      <td colspan='3' >Действие над вопросом</td>
    </tr>
  </thead>
  <tbody>
    <%= render @questions%>
  </tbody>
</table>
<%= link_to "К списку тестов", root_path %>
