<div class="row">
  <div class="col-12 col-md-6">
    <h1><%= t('.all_badges') %></h1>
    <%= render @all_badges %>
  </div>
  <div class="col-12 col-md-6">
    <h1><%= t('.my_badges') %></h1>
    <%= render @user_badges %>
  </div>
</div>