<div class="row">
  <div class="col-12 col-md-6">
    <h1><%=t('.header', title: @test.title ) %></h1>

    <%= render 'form' %>

    <%= render 'shared/back', locals: { path: admin_tests_path } %>
  </div>
</div>