<tr>
  <td><%= link_to test.title, test_path(test) %></td>
  <td><%= questions_count(test) %></td>
  <td>
    <% if logged_in? %>
      <%= button_to 'Start', start_test_path(test) %>
    <% else %>
      <%= link_to 'Log In', login_path %>
    <% end %>
  </td>
</tr>