<div>
  <span><%= current_year %></span>
</div>
<div>
  <span>Автор: Тюгаев Алексей</span>
</div>
<div>
  <span>Проект на гитхабе: <%= github_url('cyprus11', 'TestGuru') %></span>
</div>
<div>
  <span>Это <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/'%></span>
</div>